[Unit]
Description=TPM PCR8 Barrier (initrd)
DefaultDependencies=no
Conflicts=shutdown.target initrd-switch-root.target
After=tpm2.target cryptsetup-pre.target cryptsetup.target
Before=sysinit.target shutdown.target systemd-hibernate-resume.service initrd-switch-root.target systemd-sysext.service
ConditionPathExists=/etc/initrd-release
ConditionSecurity=measured-uki

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/lib/systemd/systemd-pcrextend --graceful pcr8lock --pcr 8
